/************* 
	COLORS
 *************/
$posli-blue: #2ebcea;
$posli-pressed: #0090be;
$posli-black: #060606;
$posli-text: #252c2e;
$posli-gray: #f6f9fa;
$posli-footer: #243139;
$posli-nav: #141414;
$posli-scroll-nav: #232323;
$posli-error: #dc0808;
$twitter-color: #25b3f3;
$fb-color: #3563e7;
$form-info: #bebfc1;

//grid setup
$susy: (  
  output: float,
  gutter-position: after,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
);