/* Custom reset file with minimum possible declarations. Uses most-often used decalrations (possibly used in all projects)  */

//need @import "compass/css3/box-sizing";
*,
*:after,
*:before {
	@include box-sizing (border-box);
}

//allows 100% height on other elements and rel/abs positioning
html, body {
	height: 100%;
	position: relative;
}

//basic img responsivity and layout adjustment
img {
	display: block;
	width: 100%;
}

//removing button defautl styles
input,
button {
	border: none;
	outline: none;
}