@font-face {font-family: 'MuseoSans-500';src: url('webfonts/2D1424_0_0.eot');src: url('webfonts/2D1424_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1424_0_0.woff2') format('woff2'),url('webfonts/2D1424_0_0.woff') format('woff'),url('webfonts/2D1424_0_0.ttf') format('truetype'),url('webfonts/2D1424_0_0.svg#wf') format('svg');}

//typography is set right now for 2x pixel ratio -- too big for ordinary displays -- need to fix it

h1 {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (42/16)*1em; //42px / 16px
	line-height: 1.2; 

	margin-top: 1em; 
	margin-bottom: 1.35em; 


}

h2 {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif; //should be MuseoSans-700
	font-weight: 700; //to-be removed when MuseoSans-700 is available
	font-size: (42/16)*1em; //42px / 16px
	color: $posli-black;

	//margin-top: 3.75em; //aprox. 100px
	margin-bottom: 1em; //aprox. 50px
}

h3 {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif; //should be MuseoSans-700
	font-weight: 700; //to-be removed when MuseoSans-700 is available
	font-size: (32/16)*1em; //42px / 16px
	color: white;

	//margin-top: 3.75em; //aprox. 100px
	//margin-bottom: 1.5em; //aprox. 50px
}

p {
	font-family: "MuseoSans-300", "Helvetica", "Arial", sans-serif; //should be MuseoSans-300
	font-weight: 300; //to-be removed when MuseoSans-300 is available
	font-size: (32/16)*1em; //31px / 16px
	line-height: (44/32);
	color: $posli-text;

	margin-bottom: (70/32)*1em; //aprox. 60px
}

nav a {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (28/16)*1em; //28px / 16px	
}

li>a,
p>a {
	font-size: 1em;
}

input {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (28/16)*1em; //28px / 16px
}

.button,
button {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;	//should be MuseoSans-700
	font-weight: 700; //to-be removed when MuseoSans-700 is available
	font-size: (26/16)*1em; //26px / 16px
}

.form-info {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (26/16)*1em; //26px / 16px
}

h1,
nav a,
button,
.button,
#everywhere h2,
#everywhere p,
footer h2,
footer p {
	color: white;	
}