@font-face {font-family: 'MuseoSans-500';src: url('webfonts/2D1424_0_0.eot');src: url('webfonts/2D1424_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1424_0_0.woff2') format('woff2'),url('webfonts/2D1424_0_0.woff') format('woff'),url('webfonts/2D1424_0_0.ttf') format('truetype'),url('webfonts/2D1424_0_0.svg#wf') format('svg');}

h1 {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (28/16)*1em; 
	line-height: 1.2; 
	margin-top: 1em; 
	margin-bottom: 1.35em; 
}

h2 {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif; //should be MuseoSans-700
	font-weight: 700; //to-be removed when MuseoSans-700 is available
	font-size: (32/16)*1em;
	color: $posli-black;
	margin-bottom: 1em;
}

h3 {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif; //should be MuseoSans-700
	font-weight: 700; //to-be removed when MuseoSans-700 is available
	font-size: (20/16)*1em;
	line-height: (26/20);
	color: white;
}

p {
	font-family: "MuseoSans-300", "Helvetica", "Arial", sans-serif; //should be MuseoSans-300
	font-weight: 300; //to-be removed when MuseoSans-300 is available
	font-size: (18/16)*1em;
	line-height: (31/18);
	color: $posli-text;

	margin-bottom: (35/16)*1em;
}

nav a {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (15/16)*1em;	
}

li>a,
p>a {
	font-size: 1em;
}

input {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (15/16)*1em;
}

.button,
button {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;	//should be MuseoSans-700
	font-weight: 700; //to-be removed when MuseoSans-700 is available
	font-size: (15/16)*1em;
}

.form-info {
	font-family: "MuseoSans-500", "Helvetica", "Arial", sans-serif;
	font-size: (16/16)*1em;
}

h1,
nav a,
button,
.button,
#everywhere h2,
#everywhere p,
footer h2,
footer p {
	color: white;	
}

@media only screen and ($mobile-XL) {
	h1 {
		font-size: (42/16)*1em;
	}

	h2 {
		font-size: (42/16)*1em;
	}

	h3 {
		font-size: (34/16)*1em;
		line-height: (52/34);
	}

	p {
		font-size: (32/16)*1em;
	}

	nav a {
		font-size: (28/16)*1em;	
	}

	input {
		font-size: (28/16)*1em;
	}

	.button,
	button {
		font-size: (26/16)*1em;
	}

	.form-info {
		font-size: (26/16)*1em;
	}
}

@media only screen and ($desktop-S) {
	h1 {
		font-size: (28/16)*1em;
	}

	.logo-nav h1{
		font-family: "MuseoSans-900", "Helvetica", "Arial", sans-serif; //should be MuseoSans-700
		font-weight: 900; //to-be removed when MuseoSans-700 is available
		font-size: (14/16)*1em;
		color: white;
		text-transform: uppercase;
	}

	h2 {
		font-size: (32/16)*1em;
	}
	
	footer h2 {
		font-size: (34/16)*1em;
	}

	li h2 {
		font-size: (24/16)*1em; //h2 in Features section
	}

	h3 {
		font-size: (20/16)*1em;
		line-height: (26/20);
	}

	p {
		font-size: (18/16)*1em;
		line-height: (31/18);	
	}

	#everywhere p {
		font-size: (19/16)*1em;
		line-height: (26/19);
	}

	#features p {
		font-size: 1em;
		line-height: (24/16);
	}

	.social-media p {
		font-size: (19/16)*1em;
	}

	nav a {
		font-size: (15/16)*1em;
	}

	.fixed {
		font-size: (14/16)*1em;
	}

	input {
		font-size: (15/16)*1em;
	}

	.button,
	button {
		font-size: (15/16)*1em;
	}

	.share .button {
		font-size: (14/16)*1em;
	}

	.form-info {
		font-size: (16/16)*1em;
	}
}

@media only screen and ($desktop-XL) {
	h1 {
		font-size: (38/16)*1em;
	}

	nav a {
		font-size: (18/16)*1em;
	}

	input {
		font-size: (16/16)*1em;
	}

	.button,
	button {
		font-size: (16/16)*1em;
	}

	.form-info {
		font-size: (16/16)*1em;
	}
}